black==22.1.0
flake8>=3.7.9, <4.0
ipython~=7.10
isort~=5.0
jupyter~=1.0
jupyter_client>=5.1, <7.0
jupyterlab~=3.0
kedro==0.17.6
nbstripout~=0.4
pandas~=1.4.1
pytest-cov~=3.0
pytest-mock>=1.7.1, <2.0
pytest~=6.2
wheel>=0.35, <0.37

-e git+https://github.com/okfde/django-filingcabinet.git@master#egg=django-filingcabinet
